:root{
    --gap: 1rem;
    --flow: 0.5rem;

}

*,
*::before,
*::after{
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p{
    margin: 0;
    padding: 0;
}
button, input{
    font-family: inherit;
    outline: 0;
    border: none;
}
a{
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

.flow-space > *:not(:last-child){
    margin-top: var(--flow);
}
.flex{
    display: flex;
}
.search{
    justify-content: center;
    align-items: center;
    --gap: 0.5rem;
    gap: var(--gap);
}
.search-bar{
    padding: 0.4rem 1rem;
    border-radius: 1rem;
    color: white;
    background: #7c7c7c2b;
    width: calc(100% - 45px);
}
button{
    height: 44px;
    width: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    background: #7c7c7c2b;
    transition: 0.2s ease-in-out;
    
}

button:hover {
    background: #7c7c7c6b;
  }


body{
    height: 100vh;
    display: flex;
    background-color: #222;
    background-image: url(https://source.unsplash.com/1600x900/?landscape);
    justify-content: center;
    align-items: center;
    font-family: "Open Sans";
    font-size: 120%;
    font-weight: 200;
}

.card{
    width: 100%;
    max-width: 420px;
    margin-inline: 2rem;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    color: white;
    background: #000000d0;
    border-radius: 2rem; 

}

.weather.loading{
    position: relative;
    visibility: hidden;
    max-height: 20px;
}
.weather.loading::after{
    position: absolute;
    visibility: visible;
    content: "...loading";
    top: 0;
}
.city,
.temp{
    margin-left: 8px;
    font-weight: 400;
}
.icon{
    align-items: center;
}
.icon p{
    text-transform: capitalize;
}

.more-info{
    margin-left: 8px;
    flex-direction: column;
    gap: 0.2rem;
}